SCHOOL_NO= #Replace with your actual school code

START_ROLL= #Replace with your actual roll no
END_ROLL=	# replace with your actual end roll no

RESULTS_CSV=valid_results.csv
PROGRESS_FILE=progress.txt

# Replace the url and referer url with latest url from the result page.
# TIP: use inspect mode to find the post url

URL=https://cbseresults.nic.in/class_xii_b_2026_a/ClassTwelfth_ii_2026.asp
HEADERS={f"User-Agent":"Mozilla/5.0","Referer":"https://cbseresults.nic.in/class_xii_b_2026_a/ClassTwelfth_ii_2026.asp","Origin":"https://cbseresults.nic.in"}