# =========================
# TARGET URL
# =========================

URL=https://cbseresults.nic.in/class_xii_b_2026_a/ClassTwelfth_ii_2026.asp

# =========================
# SCHOOL DETAILS
# =========================

SCHOOL_NO=12345

# =========================
# ROLL RANGE
# =========================

START_ROLL=10000000
END_ROLL=10000010

# =========================
# OUTPUT FILES
# =========================
DB_FILE=results.db

# =========================
# REQUEST HEADERS
# Keep this in a single line
# Use proper json double quotes
# =========================

HEADERS={"User-Agent":"Mozilla/5.0","Referer":"https://cbseresults.nic.in/class_xii_b_2026_a/ClassTwelfth_ii_2026.asp","Origin":"https://cbseresults.nic.in"}